server:
  port: 8086

spring:
  application:
    name: selection-service
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/enrollment_service_db?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: 569811
    druid:
      initial-size: 5
      min-idle: 5
      max-active: 20
  data:
    redis:
      host: 192.168.141.128
      port: 6379
      password: 123456
      database: 0
      timeout: 3000
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0
  rabbitmq:
    host: 192.168.141.128
    port: 5672
    username: admin
    password: admin
    virtual-host: /
    connection-timeout: 10000
    publisher-confirm-type: correlated
    publisher-returns: true
    template:
      mandatory: true
    listener:
      simple:
        retry:
          enabled: true
          initial-interval: 2000
          max-attempts: 5
          max-interval: 30000
          multiplier: 2.0
        auto-startup: true
        acknowledge-mode: auto
        concurrency: 1
        max-concurrency: 5
        prefetch: 1
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
        namespace: public

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
  global-config:
    db-config:
      id-type: auto

